body {
  font-family: 'Amiko', sans-serif;
  background-image: url("../../assets/images/bricks2.jpg");
  color:#ffffff;
}

.main-game-screen {
  opacity: 0.52;
  color: black;
}

.header-font {
  font-weight: bold;
}

#gameScreen {
  letter-spacing: 1rem;
  text-transform: uppercase;
}

#guessedLetters {
  text-transform: uppercase;
}

.game-text {
  padding:10px;
}